In [1]:
from selenium import webdriver
browser = webdriver.Firefox()
browser.get('https://scraping-for-beginner.herokuapp.com/ranking/')

In [2]:
#観光地名の取得
elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')

In [3]:
elem_title = elem_rankingBox.find_element_by_class_name('u_title')
elem_title.text

'1\n観光地 1'

In [4]:
title = elem_title.text
title

'1\n観光地 1'

In [5]:
title.split('\n')

['1', '観光地 1']

In [6]:
title.split('\n')[1]

'観光地 1'

In [7]:
#総合評価の取得
elem_rank = browser.find_element_by_class_name('u_rankBox')
elem_rank = elem_rank.find_element_by_class_name('evaluateNumber')

In [8]:
elem_rank.text

'4.7'

In [9]:
#各項目の評価を取得
#楽しさ
elem = browser.find_element_by_class_name('u_categoryTipsItem')

In [10]:
elem = elem.find_element_by_class_name('is_rank')
elem = elem.find_element_by_class_name('evaluateNumber')

In [11]:
elem.text

'4.6'

In [12]:
#人混みの多さ
elem = browser.find_element_by_class_name('u_categoryTipsItem')

In [13]:
elem = elem.find_elements_by_class_name('is_rank')[1]
elem = elem.find_element_by_class_name('evaluateNumber')

In [14]:
elem.text

'4.5'

In [15]:
#景色
elem = browser.find_element_by_class_name('u_categoryTipsItem')

In [16]:
elem = elem.find_elements_by_class_name('is_rank')[2]
elem = elem.find_element_by_class_name('evaluateNumber')

In [17]:
elem.text

'4.9'

In [18]:
#すべての観光地の情報を取得
elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')

In [19]:
elem_title = elem_rankingBox.find_element_by_class_name('u_title')
elem_title.text.split('\n')[1]

'観光地 1'

In [20]:
#観光地名
elem_rankingBox = browser.find_element_by_class_name('u_areaListRankingBox')
elem_title = elem_rankingBox.find_element_by_class_name('u_title')
title = elem_title.text.split('\n')[1]
title

'観光地 1'

In [21]:
#elements にする
elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')

In [22]:
len(elems_rankingBox)

10

In [23]:
titles = []
for elem_rankingBox in elems_rankingBox:
    elem_title = elem_rankingBox.find_element_by_class_name('u_title')
    title = elem_title.text.split('\n')[1]
    titles.append(title)

In [24]:
titles

['観光地 1',
 '観光地 2',
 '観光地 3',
 '観光地 4',
 '観光地 5',
 '観光地 6',
 '観光地 7',
 '観光地 8',
 '観光地 9',
 '観光地 10']

In [25]:
#総合評価
elem_rank = browser.find_element_by_class_name('u_rankBox')
elem_rank = elem_rank.find_element_by_class_name('evaluateNumber')
rank = elem_rank.text
rank

'4.7'

In [26]:
type(rank)

str

In [27]:
rank = float(elem_rank.text)
rank

4.7

In [28]:
elems_rank = browser.find_elements_by_class_name('u_rankBox')

In [29]:
len(elems_rank)

10

In [30]:
ranks = []
for elem_rank in elems_rank:
    elem_rank = elem_rank.find_element_by_class_name('evaluateNumber')
    rank = float(elem_rank.text)
    ranks.append(rank)

In [31]:
ranks

[4.7, 4.7, 4.6, 4.5, 4.5, 4.4, 4.3, 4.3, 4.2, 4.1]

In [32]:
#各項目
elem = browser.find_element_by_class_name('u_categoryTipsItem')

In [33]:
elem = elem.find_element_by_class_name('is_rank')
elem = elem.find_element_by_class_name('evaluateNumber')
elem.text

'4.6'

In [34]:
elems = browser.find_elements_by_class_name('u_categoryTipsItem')

In [35]:
categories = []

for elem in elems:
        items = []
        elems_rank = elem.find_elements_by_class_name('is_rank')
        for elem_rank in elems_rank:
            rank = elem_rank.find_element_by_class_name('evaluateNumber').text
            items.append(rank)
        categories.append(items)

In [36]:
categories

[['4.6', '4.5', '4.9', '4.2'],
 ['4.6', '4.5', '4.9', '4.2'],
 ['4.5', '4.4', '4.8', '4.1'],
 ['4.4', '4.4', '4.8', '4.0'],
 ['4.4', '4.3', '4.7', '4.0'],
 ['4.3', '4.3', '4.7', '3.9'],
 ['4.2', '4.2', '4.6', '3.8'],
 ['4.2', '4.2', '4.6', '3.8'],
 ['4.1', '4.1', '4.5', '3.7'],
 ['4.0', '4.1', '4.4', '3.6']]

In [37]:
#Pandasの形式に変換
import pandas as pd

In [38]:
df = pd.DataFrame()

In [39]:
df['観光地名'] = titles
df['総合評価'] = ranks

In [40]:
df

     観光地名  総合評価
0   観光地 1   4.7
1   観光地 2   4.7
2   観光地 3   4.6
3   観光地 4   4.5
4   観光地 5   4.5
5   観光地 6   4.4
6   観光地 7   4.3
7   観光地 8   4.3
8   観光地 9   4.2
9  観光地 10   4.1

In [41]:
df_categories = pd.DataFrame(categories)
df_categories

     0    1    2    3
0  4.6  4.5  4.9  4.2
1  4.6  4.5  4.9  4.2
2  4.5  4.4  4.8  4.1
3  4.4  4.4  4.8  4.0
4  4.4  4.3  4.7  4.0
5  4.3  4.3  4.7  3.9
6  4.2  4.2  4.6  3.8
7  4.2  4.2  4.6  3.8
8  4.1  4.1  4.5  3.7
9  4.0  4.1  4.4  3.6

In [42]:
df_categories.columns = ['楽しさ', '人混みの多さ', '景色', 'アクセス']
df_categories

   楽しさ 人混みの多さ   景色 アクセス
0  4.6    4.5  4.9  4.2
1  4.6    4.5  4.9  4.2
2  4.5    4.4  4.8  4.1
3  4.4    4.4  4.8  4.0
4  4.4    4.3  4.7  4.0
5  4.3    4.3  4.7  3.9
6  4.2    4.2  4.6  3.8
7  4.2    4.2  4.6  3.8
8  4.1    4.1  4.5  3.7
9  4.0    4.1  4.4  3.6

In [43]:
df = pd.concat([df, df_categories], axis=1)
df

     観光地名  総合評価  楽しさ 人混みの多さ   景色 アクセス
0   観光地 1   4.7  4.6    4.5  4.9  4.2
1   観光地 2   4.7  4.6    4.5  4.9  4.2
2   観光地 3   4.6  4.5    4.4  4.8  4.1
3   観光地 4   4.5  4.4    4.4  4.8  4.0
4   観光地 5   4.5  4.4    4.3  4.7  4.0
5   観光地 6   4.4  4.3    4.3  4.7  3.9
6   観光地 7   4.3  4.2    4.2  4.6  3.8
7   観光地 8   4.3  4.2    4.2  4.6  3.8
8   観光地 9   4.2  4.1    4.1  4.5  3.7
9  観光地 10   4.1  4.0    4.1  4.4  3.6

In [44]:
df.to_csv('観光地情報.csv', index=False)

In [45]:
#全ページの情報を取得
titles = []
ranks = []
categories = []

browser = webdriver.Firefox()

for page in range(1,4):

    browser.get('https://scraping-for-beginner.herokuapp.com/ranking/?page={}'.format(page))

    # 観光地名
    elems_rankingBox = browser.find_elements_by_class_name('u_areaListRankingBox')
    for elem_rankingBox in elems_rankingBox:
        elem_title = elem_rankingBox.find_element_by_class_name('u_title')
        title = elem_title.text.split('\n')[1]
        titles.append(title)

    # 総合評価
    elems_rank = browser.find_elements_by_class_name('u_rankBox')
    for elem_rank in elems_rank:
        elem_rank = elem_rank.find_element_by_class_name('evaluateNumber')
        rank = float(elem_rank.text)
        ranks.append(rank)

    # 各項目
    elems = browser.find_elements_by_class_name('u_categoryTipsItem')
    for elem in elems:
            items = []
            elems_rank = elem.find_elements_by_class_name('is_rank')
            for elem_rank in elems_rank:
                rank = elem_rank.find_element_by_class_name('evaluateNumber').text
                items.append(rank)
            categories.append(items)

In [46]:
ranks

[4.7,
 4.7,
 4.6,
 4.5,
 4.5,
 4.4,
 4.3,
 4.3,
 4.2,
 4.1,
 4.1,
 4.0,
 3.9,
 3.9,
 3.8,
 3.7,
 3.7,
 3.6,
 3.5,
 3.5,
 3.4,
 3.3,
 3.3,
 3.2,
 3.1,
 3.1,
 3.0,
 2.9,
 2.9,
 2.8]

In [47]:
categories

[['4.6', '4.5', '4.9', '4.2'],
 ['4.6', '4.5', '4.9', '4.2'],
 ['4.5', '4.4', '4.8', '4.1'],
 ['4.4', '4.4', '4.8', '4.0'],
 ['4.4', '4.3', '4.7', '4.0'],
 ['4.3', '4.3', '4.7', '3.9'],
 ['4.2', '4.2', '4.6', '3.8'],
 ['4.2', '4.2', '4.6', '3.8'],
 ['4.1', '4.1', '4.5', '3.7'],
 ['4.0', '4.1', '4.4', '3.6'],
 ['4.0', '4.0', '4.4', '3.6'],
 ['3.9', '4.0', '4.3', '3.5'],
 ['3.8', '3.9', '4.3', '3.4'],
 ['3.8', '3.9', '4.2', '3.4'],
 ['3.7', '3.8', '4.2', '3.3'],
 ['3.6', '3.8', '4.1', '3.2'],
 ['3.6', '3.7', '4.1', '3.2'],
 ['3.5', '3.7', '4.0', '3.1'],
 ['3.4', '3.6', '3.9', '3.0'],
 ['3.4', '3.6', '3.9', '3.0'],
 ['3.3', '3.5', '3.8', '2.9'],
 ['3.2', '3.5', '3.8', '2.8'],
 ['3.2', '3.4', '3.7', '2.8'],
 ['3.1', '3.4', '3.7', '2.7'],
 ['3.0', '3.3', '3.6', '2.6'],
 ['3.0', '3.3', '3.6', '2.6'],
 ['2.9', '3.2', '3.5', '2.5'],
 ['2.8', '3.2', '3.4', '2.4'],
 ['2.8', '3.1', '3.4', '2.4'],
 ['2.7', '3.1', '3.3', '2.3']]

In [48]:
df = pd.DataFrame()

In [49]:
df['観光地名'] = titles
df['総合評価'] = ranks

In [50]:
df_categories = pd.DataFrame(categories)
df_categories

      0    1    2    3
0   4.6  4.5  4.9  4.2
1   4.6  4.5  4.9  4.2
2   4.5  4.4  4.8  4.1
3   4.4  4.4  4.8  4.0
4   4.4  4.3  4.7  4.0
5   4.3  4.3  4.7  3.9
6   4.2  4.2  4.6  3.8
7   4.2  4.2  4.6  3.8
8   4.1  4.1  4.5  3.7
9   4.0  4.1  4.4  3.6
10  4.0  4.0  4.4  3.6
11  3.9  4.0  4.3  3.5
12  3.8  3.9  4.3  3.4
13  3.8  3.9  4.2  3.4
14  3.7  3.8  4.2  3.3
15  3.6  3.8  4.1  3.2
16  3.6  3.7  4.1  3.2
17  3.5  3.7  4.0  3.1
18  3.4  3.6  3.9  3.0
19  3.4  3.6  3.9  3.0
20  3.3  3.5  3.8  2.9
21  3.2  3.5  3.8  2.8
22  3.2  3.4  3.7  2.8
23  3.1  3.4  3.7  2.7
24  3.0  3.3  3.6  2.6
25  3.0  3.3  3.6  2.6
26  2.9  3.2  3.5  2.5
27  2.8  3.2  3.4  2.4
28  2.8  3.1  3.4  2.4
29  2.7  3.1  3.3  2.3

In [51]:
df_categories.columns = ['楽しさ', '人混みの多さ', '景色', 'アクセス']
df_categories

    楽しさ 人混みの多さ   景色 アクセス
0   4.6    4.5  4.9  4.2
1   4.6    4.5  4.9  4.2
2   4.5    4.4  4.8  4.1
3   4.4    4.4  4.8  4.0
4   4.4    4.3  4.7  4.0
5   4.3    4.3  4.7  3.9
6   4.2    4.2  4.6  3.8
7   4.2    4.2  4.6  3.8
8   4.1    4.1  4.5  3.7
9   4.0    4.1  4.4  3.6
10  4.0    4.0  4.4  3.6
11  3.9    4.0  4.3  3.5
12  3.8    3.9  4.3  3.4
13  3.8    3.9  4.2  3.4
14  3.7    3.8  4.2  3.3
15  3.6    3.8  4.1  3.2
16  3.6    3.7  4.1  3.2
17  3.5    3.7  4.0  3.1
18  3.4    3.6  3.9  3.0
19  3.4    3.6  3.9  3.0
20  3.3    3.5  3.8  2.9
21  3.2    3.5  3.8  2.8
22  3.2    3.4  3.7  2.8
23  3.1    3.4  3.7  2.7
24  3.0    3.3  3.6  2.6
25  3.0    3.3  3.6  2.6
26  2.9    3.2  3.5  2.5
27  2.8    3.2  3.4  2.4
28  2.8    3.1  3.4  2.4
29  2.7    3.1  3.3  2.3

In [52]:
df = pd.concat([df, df_categories], axis=1)
df

      観光地名  総合評価  楽しさ 人混みの多さ   景色 アクセス
0    観光地 1   4.7  4.6    4.5  4.9  4.2
1    観光地 2   4.7  4.6    4.5  4.9  4.2
2    観光地 3   4.6  4.5    4.4  4.8  4.1
3    観光地 4   4.5  4.4    4.4  4.8  4.0
4    観光地 5   4.5  4.4    4.3  4.7  4.0
5    観光地 6   4.4  4.3    4.3  4.7  3.9
6    観光地 7   4.3  4.2    4.2  4.6  3.8
7    観光地 8   4.3  4.2    4.2  4.6  3.8
8    観光地 9   4.2  4.1    4.1  4.5  3.7
9   観光地 10   4.1  4.0    4.1  4.4  3.6
10  観光地 11   4.1  4.0    4.0  4.4  3.6
11  観光地 12   4.0  3.9    4.0  4.3  3.5
12  観光地 13   3.9  3.8    3.9  4.3  3.4
13  観光地 14   3.9  3.8    3.9  4.2  3.4
14  観光地 15   3.8  3.7    3.8  4.2  3.3
15  観光地 16   3.7  3.6    3.8  4.1  3.2
16  観光地 17   3.7  3.6    3.7  4.1  3.2
17  観光地 18   3.6  3.5    3.7  4.0  3.1
18  観光地 19   3.5  3.4    3.6  3.9  3.0
19  観光地 20   3.5  3.4    3.6  3.9  3.0
20  観光地 21   3.4  3.3    3.5  3.8  2.9
21  観光地 22   3.3  3.2    3.5  3.8  2.8
22  観光地 23   3.3  3.2    3.4  3.7  2.8
23  観光地 24   3.2  3.1    3.4  3.7  2.7
24  観光地 25   3.1  3.0    3.3  3.6  2.6
25  観光地 26   3.1  3.0    3.3  3.6  2.6
26  観光地 27   3.0  2.9    3.2  3.5  2.5
27  観光地 28   2.9  2.8    3.2  3.4  2.4
28  観光地 29   2.9  2.8    3.1  3.4  2.4
29  観光地 30   2.8  2.7    3.1  3.3  2.3

In [53]:
df.to_csv('観光地総合情報.csv', index=False)